:root {
    /* --header-bg-color: #281f00; */
    --header-bg-color: #000000;
    --cta-bg-color: #4b5100;
    --bg-color-light: white;

    --main-font: 'Poppins', sans-serif;
    --heading-font: 'Quintessential', cursive;;

    --light-text: 200;
    --medium-text: 300;
    --subheading-text: 400;
    --heading-text: 600;

    --box-shading: 0px 0px 50px rgba(0, 0, 0, 0.39);

    --border-radius: 7px;
}

html {
    background-color: var(--header-bg-color);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-color-light);
    /* background-image: url("../images/Carters Camera Logo.webp");
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
  }

#business, #wedding, #personal {
    scroll-margin-top: 100px;
}
.title {
    margin-bottom: 20px;
    z-index: 20;
}
a {
    color: grey;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
}
p, a, li {
    font-family: var(--main-font);
}
li {
    margin: 15px 0px;
}


.header {
    background-color: var(--header-bg-color);
    max-width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 20px black;
    z-index: 20;
    overflow: hidden;

}
.nav {
    display: flex;
    justify-content: space-evenly;
    grid-column: 1/3;
    opacity: 0;
    height: 0px;
    position: relative;
    background-color: var(--header-bg-color);
}
.show-nav {
    height: 100%;
    animation: fade-nav 1s both;
}
@keyframes fade-nav {
    0% {
        opacity: 0;
        margin-top: -200px;
        transform: translateX(-100px);
    }
    50% {
        margin-top: 0px;
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        opacity: 1;
        margin-top: 0px;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        margin-top: 0px;
        transform: translateX(0px);
    }
}
.hide-nav {
    animation: hide-nav 1s both;
    height: 100%;
}
@keyframes hide-nav {
    0% {
        opacity: 1;
        margin-top: 0px;
        transform: translateX(0px);
    }
    20% {
        opacity: 1;
        margin-top: 0px;
        transform: translateX(-10px);
    }
    50% {
        margin-top: 0px;
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 0;
        margin-top: -200px;
        transform: translateX(100px);
    }
}
.nav > * {
    color: white;
    margin: 1em 0em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: var(--light-text);
    border-bottom: 2px solid transparent;
    transition: .2s;
}
.nav > *:hover {
    border-bottom: 2px solid white;
}

.item {
    opacity: 0;
}

.show-item {
    animation: show-item 1s both;
}
@keyframes show-item {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.container-justify-right {
    display: flex;
    justify-content: left;
}
.menu {
    position: relative;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 15px;
    left: 20px;
    background-color: transparent;
}
.menu:hover {
    cursor: pointer;
}
.menu::after {
    content: "Menu";
    color:#ededed;
    font-family: var(--main-font);
    position: absolute;
    bottom:-20px;
}
.bar {
    height: 2px;
    width: 100%;
    background-color:#ededed;
    border-radius: 5px;
    position: relative;
}

.bar1-show {
    animation: bar1-show .5s both 0.2s;
}
@keyframes bar1-show {
    0% {
        width: 100%;
        transform: rotate(0deg);
        top: 0px;
    }
    35% {
        width:2px;
        transform: rotate(0deg);
        top: 7.5px;
    }
    65% {
        width: 2px;
        transform: rotate(45deg);
        top: 7.5px;
    }
    100% {
        transform: rotate(45deg);
        top: 7.5px;
    }
}
.bar1-return {
    animation: bar1-return .5s both;
}
@keyframes bar1-return {
    0% {
        width: 100%;
        transform: rotate(45deg);
        top: 7.5px;
    }
    35% {
        width: 2px;
        transform: rotate(45deg);
        top: 7.5px;
    }
    65% {
        width: 2px;
        transform: rotate(0deg);
        top: 7.5px;
    }
    100% {
        width: 100%;
        transform: rotate(0deg);
        top: 0px;
    }
}

.bar2-show {
    animation: shrink .2s both;
}
@keyframes shrink {
    0% {
        width: 100%;
    }
    100% {
        width: 2px;
    }
}

.bar2-return {
    animation: grow .2s both 0.5s;
}
@keyframes grow {
    0% {
        width: 2px;
    }
    100% {
        width: 100%;
    }
}

.bar3-show {
    animation: bar3-show .5s both 0.2s;
}
@keyframes bar3-show {
    0% {
        width: 100%;
        transform: rotate(0deg);
        bottom: 0px;
    }
    35% {
        width: 2px;
        transform: rotate(0deg);
        bottom: 7.5px;
    }
    65% {
        width: 2px;
        transform: rotate(-45deg);
        bottom: 7.5px;
    }
    100% {
        width: 100%;
        transform: rotate(-45deg);
        bottom: 7.5px;
    }
}

.bar3-return {
    animation: bar3-return .5s both;
}
@keyframes bar3-return {
    0% {
        width: 100%;
        transform: rotate(-45deg);
        bottom: 7.5px;
    }
    35% {
        width: 2px;
        transform: rotate(-45deg);
        bottom: 7.5px;
    }
    65% {
        width: 2px;
        transform: rotate(0deg);
        bottom: 7.5px;
    }
    100% {
        width: 100%;
        transform: rotate(0deg);
        bottom: 0px;
    }
}

.section {
    max-width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: transparent;
}
.section > * {
    max-width: 40%;
    min-width: 300px;
    border-radius: var(--border-radius);
    margin: 1rem 0rem;
}
.flex-direction-reverse {
    flex-direction: row-reverse;
}

.slide-show-image {
    box-shadow: var(--box-shading);
    max-width: 100%;
    border-radius: var(--border-radius);
}

.radius-image {
    box-shadow: var(--box-shading);
    max-width: 100%;
    border-radius: 10px;
}
.smaller-image {
    max-width: 50%;
}

.logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}
.logo {
    width: 100px;
    margin-left:-50px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shading);
}
.logo:hover {
    cursor: pointer;
}
.image-container {
    position: relative;
    width: 100%;
}
.image-container::after {
    content: "Click to view";
    transition: .2s;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    font-family: var(--main-font);
    font-size: 1rem;
    border-radius: var(--border-radius);
}
.image-container:hover::after {
    opacity: 1;
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    padding: 1em 0em;
}
.legal-footer {
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: 200px;
}
.legal-footer > a {
    margin: .3em 0em;
    color: white;
    font-family: var(--main-font);
    position: relative;
    bottom: 0px;
    text-align: center;
}
.socials-footer {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    padding: 1em 1em 2em 1em;
    min-width: 200px;
    height: 100%;
}

.fa-brands {
    color: white;
    font-size: 2em;
}
.gallery {
    max-width: 100vw;
    max-height: 100vh;
    padding: 50px 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: flex-start;
}
.gallery > * {
    width: 25%;
    min-width: 250px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin: 0em 1em;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shading);
}
.gallery-link {
    font-family: var(--main-font);
    color: black;
    text-align: center;
    text-decoration: none;
    border-bottom: 1.5px solid black;
    border-radius: 0px !important;
}
.your-photos {
    padding: 20px 30px;
    background-color: var(--cta-bg-color);
    color: white;
    text-align: center;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-family: var(--main-font);
    border: 2px solid transparent;
    position: relative;
    transition: .2s;
}
.your-photos:hover {
    background-color: #4c5100d6;
}
.bg-image {
    position: absolute;
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    z-index: -1;
    filter: blur(5px);
    box-shadow: var(--box-shading);

}
.modal-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.616);
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}
.modal {
    background-color: white;
    padding: 1em;
    max-width: 80vw;
    max-height: 80vh;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shading);
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 90%;
    min-width: 300px;
    padding: .5em 1em;
    border-radius: var(--border-radius);
    margin-bottom: 1em;
}
.modal-header > span {
    font-size: 2em;
    background-color: lightgray;
    text-align: center;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
}
.modal-header > span:hover {
    color: grey;
    cursor: pointer;
}
.modal-content {
    max-width: 90%;
    min-width: 300px;
}

.show-modal-bg {
    animation: show-modal-bg .5s both;
}
@keyframes show-modal-bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.hide-modal-bg {
    animation: hide-modal-bg .5s both .5s;
}
@keyframes hide-modal-bg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.show-modal {
    animation: fade-in-scale .5s both .5s;
    pointer-events: all;
}
.hide-modal {
    animation: fade-out-scale .5s both;
}
.open-image-modal:hover {
    cursor: pointer;
}

@keyframes fade-in-scale {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes fade-out-scale {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(10%);
    }
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100vw;
    padding: 1em;
    gap: .5em;
}
.gallery-grid > * {
    max-width: 25%;
    min-width: 100px;
    border-radius: var(--border-radius);
    object-fit: cover;
    box-shadow: var(--box-shading);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.contact-form > * {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
}
textarea, input, label, select, option {
    font-family: var(--main-font);
    padding: .5em;
    font-size: 1rem;
}
textarea, input, select, option {
    background-color: white;
    border: 2px solid black;
    border-radius: var(--border-radius);
}
textarea {
    resize: none;
}
.submit-button {
    font-family: var(--main-font);
    padding: .5em;
    background-color: #72736b;
    border-radius: var(--border-radius);
    color: white;
    font-weight: var(--heading-text);
    border: 2px solid black;
    font-size: 1.5rem;
    pointer-events: none;
    opacity: 0.2;
}
.submit-button:hover {
    background-color: #626901;
    cursor: pointer;
}
#more-detail {
    text-decoration: underline;
    font-size: .8rem;
    display: none;
    text-align: right;
}
#more-detail:hover {
    cursor: pointer;
}
#sliderVal {
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.guests {
    padding: 0;
}
.slider {
    height: 30px;
    padding: 0;
    margin: 5px 0px 0px 0px;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--header-bg-color);
    border-radius: 3em;
    max-width: 100%;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    background-image: url("../images/Carters\ Camera\ Logo\ White.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    box-shadow: inset 0px 0px 5px white;
    border-radius: 50%;
}
.slider::-webkit-slider-thumb:hover {
    cursor: pointer;
}
.long-text {
    word-wrap: normal;
    height: 5em;
}


.loader-container {
    position:fixed;
    display:none;
    justify-content:center;
    align-items:center;
    background-color:#00000042;
    height:100vh;
    width:100vw;
    top:0px;
    left:0px;
    pointer-events: all;
    z-index:50;
}

.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }

  .section-2 {
    background-color:#C6C6C6;
  }

  .front {
    z-index: 10 !important;
  }
  .svg-container {
    position: relative;
  }
  
  .svg {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
    pointer-events: none;
  }
  .svg-2 {
    position: absolute;
    width: 100%;
    z-index: 0;
    bottom: 0px;
    pointer-events: none;
  }
  .svg-3 {
    position: absolute;
    width: 100%;
    z-index: 0;
    bottom: 0px;
    pointer-events: all;
    object-fit: scale-down;
    pointer-events: none;
  }
  .svg-bg {
    background-image: url("../images/blob-scene-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .svg-bg-2 {
    background-image: url("../images/wave-haikei (2).svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .terms-checkbox {
    display: flex;
  }
  .checkbox {
    margin-top: 10px;
    transform: scale(1.2);
    border-radius: 50%;
  }

  .snapping-cont {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    height: 90dvh;
    overflow-y: scroll;
    position: relative;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    opacity: 0;
    animation: fade-in 1s forwards;
  }
  @keyframes fade-in {
    0% {
        opacity: 0;
        background-color: transparent;
    }
    100% {
        opacity: 1;
        background-color: #000000;
    }
  }
  .snapping-cont::-webkit-scrollbar {
    display: none;
  }



  /* .bg-1 {
    background-image: url("../images/WEBP/67693902_2405979286340900_8321813592030576640_n.webp");
  }
  .bg-2 {
    background-image: url("../images/WEBP/74912291_10217396696003498_2211503674599931904_n.webp");
  }
  .bg-3 {
    background-image: url("../images/WEBP/bar (1 of 1).webp");
  } */
  .fa-chevron-down, .fa-chevron-up {
    color: white;
    text-shadow: 0px 0px 3px black;
    font-size: 2rem;
    transition: .2s;
    opacity: 1;
  }
  .fa-chevron-left {
    color: black;
    font-size: 2rem;
    transition: .2s;
  }
  .fa-chevron-down:hover, .fa-chevron-up:hover {
    color: #000000;
    text-shadow: 0px 0px 3px white;
  }
  .fa-chevron-left:hover {
    color: rgb(143, 143, 143);
  }

  .fa-chevron-down:active {
    transform: translateY(-15px);
    opacity: 0.4;
  }
  .fa-chevron-up:active {
    transform: translateY(15px);
    opacity: 0.4;
  }


  .back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .bg-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.6);
  }

  .bg {
    position: relative;
    scroll-snap-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90dvh;
    max-width: 100vw;
    background-attachment: fixed;
    background-position: center;
    flex-direction: column;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    padding: 0px;
    overflow: hidden;
  }
  /* .bg > * {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    text-align: center;
    margin: 0px;
  } */


  .text {
    width: 100%;
    background-color: #ffffff58;
    z-index: 10;
    text-align: center;
    font-size: 1.5rem;
  }
  .text > * {
    color: black;
    z-index: 11;
  }

  .testimonial {
    /* background-color: #ffffffcf; */
    border-radius: 2em;
    padding: 2em;
    box-shadow: var(--box-shading);
  }
  .testimonial-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .testimonial-header > p {
    color: rgb(86, 86, 86);
  }


@media (pointer: coarse) {
    .image-container::before {
        content: "Click image to enlarge";
        position: relative;
        font-family: var(--main-font);
        background-color: var(--header-bg-color);
        color: white;
        font-size: .7rem;
        padding: .5em;
        bottom: 3px;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }
    .image-container > img {
        border-top-left-radius: 0px;
    }
    .image-container::after {
        display: none;
    }
}