:root {
    --header-bg-color: #281f00;
    --cta-bg-color: #4b5100;
    --bg-color-light: #fefee9;

    --main-font: "Poppins", sans-serif;
    --heading-font: Cursive;

    --light-text: 200;
    --medium-text: 300;
    --subheading-text: 400;
    --heading-text: 600;

    --box-shading: 0px 0px 50px rgba(0, 0, 0, 0.39);

    --border-radius: 10px;
}

html {
    background-color: var(--header-bg-color);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-color-light);
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
  }

#business, #wedding, #personal {
    scroll-margin-top: 100px;
}
.title {
    margin-bottom: 20px;
}
a {
    color: grey;
}


h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
}
p, a, li {
    font-family: var(--main-font);
}
li {
    margin: 15px 0px;
}


.header {
    background-color: var(--header-bg-color);
    max-width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 20px black;
    z-index: 10;
    overflow: hidden;

}
.nav {
    display: flex;
    justify-content: space-evenly;
    grid-column: 1/3;
    opacity: 0;
    height: 0px;
    position: relative;
    background-color: var(--header-bg-color);
}
.show-nav {
    height: 100%;
    animation: fade-nav 1s both;
}
@keyframes fade-nav {
    0% {
        opacity: 0;
        margin-top: -200px;
        transform: translateX(-100px);
    }
    50% {
        margin-top: 0px;
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        opacity: 1;
        margin-top: 0px;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        margin-top: 0px;
        transform: translateX(0px);
    }
}
.hide-nav {
    animation: hide-nav 1s both;
    height: 100%;
}
@keyframes hide-nav {
    0% {
        opacity: 1;
        margin-top: 0px;
        transform: translateX(0px);
    }
    20% {
        opacity: 1;
        margin-top: 0px;
        transform: translateX(-10px);
    }
    50% {
        margin-top: 0px;
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 0;
        margin-top: -200px;
        transform: translateX(100px);
    }
}
.nav > * {
    color: white;
    margin: 1em 0em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: var(--light-text);
    border-bottom: 2px solid transparent;
    transition: .2s;
}
.nav > *:hover {
    border-bottom: 2px solid white;
}

.item {
    opacity: 0;
}

.show-item {
    animation: show-item 1s both;
}
@keyframes show-item {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.container-justify-right {
    display: flex;
    justify-content: right;
}
.menu {
    position: relative;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 20px;
    right: 20px;
    background-color: transparent;
}
.menu:hover {
    cursor: pointer;
}
.bar {
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.bar1-show {
    animation: bar1-show 1s both 0.3s;
}
@keyframes bar1-show {
    0% {
        transform: rotate(0deg);
        top: 0px;
    }
    100% {
        transform: rotate(45deg);
        top: 7.5px;
    }
}
.bar1-return {
    animation: bar1-return 1s both;
}
@keyframes bar1-return {
    0% {
        transform: rotate(45deg);
        top: 7.5px;
    }
    100% {
        transform: rotate(0deg);
        top: 0px;
    }
}

.bar2-show {
    animation: shrink .4s both;
}
@keyframes shrink {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.bar2-return {
    animation: grow .4s both 0.8s;
}
@keyframes grow {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.bar3-show {
    animation: bar3-show 1s both 0.3s;
}
@keyframes bar3-show {
    0% {
        transform: rotate(0deg);
        bottom: 0px;
    }
    100% {
        transform: rotate(-45deg);
        bottom: 7.5px;
    }
}

.bar3-return {
    animation: bar3-return 1s both;
}
@keyframes bar3-return {
    0% {
        transform: rotate(-45deg);
        bottom: 7.5px;
    }
    100% {
        transform: rotate(0deg);
        bottom: 0px;
    }
}

.section {
    max-width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: transparent;
}
.section > * {
    max-width: 40%;
    min-width: 300px;
}
.flex-direction-reverse {
    flex-direction: row-reverse;
}

.slide-show-image {
    box-shadow: var(--box-shading);
    max-width: 100%;
    border-radius: 10px;
}

.radius-image {
    box-shadow: var(--box-shading);
    max-width: 100%;
    border-radius: 10px;
}
.smaller-image {
    max-width: 50%;
}

.logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}
.logo {
    width: 100px;

}
.image-container {
    position: relative;
    width: 100%;
}
.image-container::after {
    content: "Click to view";
    transition: .2s;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    font-family: var(--main-font);
    font-size: 1rem;
    border-radius: var(--border-radius);
}
.image-container:hover::after {
    opacity: 1;
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    padding: 1em 0em;
}
.legal-footer {
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: 200px;
}
.legal-footer > a {
    margin: .3em 0em;
    color: white;
    font-family: var(--main-font);
    position: relative;
    bottom: 0px;
    text-align: center;
}
.socials-footer {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    padding: 1em 1em 2em 1em;
    min-width: 200px;
    height: 100%;
}

.fa-brands {
    color: white;
    font-size: 2em;
}
.gallery {
    max-width: 100vw;
    max-height: 100vh;
    padding: 50px 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
}
.gallery > * {
    width: 25%;
    min-width: 250px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin: 0em 1em;
    border-radius: 10px;
    box-shadow: var(--box-shading);
}
.gallery-link {
    font-family: var(--main-font);
    color: black;
    text-align: center;
    text-decoration: none;
    border-bottom: 1.5px solid black;
}
.your-photos {
    padding: 20px 30px;
    background-color: var(--cta-bg-color);
    color: white;
    text-align: center;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-family: var(--main-font);
    border: 2px solid transparent;
    position: relative;
    transition: .2s;
}
.your-photos:hover {
    background-color: #4c5100d6;
}
.bg-image {
    position: absolute;
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    z-index: -1;
    filter: blur(5px);
    box-shadow: var(--box-shading);

}
.modal-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.616);
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}
.modal {
    background-color: white;
    padding: 2em;
    max-width: 80vw;
    max-height: 80vh;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shading);
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-header {
    display: flex;
    justify-content: right;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 60%;
    min-width: 300px;
    padding: .5em 1em;
    border-radius: var(--border-radius);
    margin-bottom: 1em;
}
.modal-header > span {
    font-size: 2em;
    background-color: lightgray;
    text-align: center;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
}
.modal-header > span:hover {
    color: grey;
    cursor: pointer;
}
.modal-content {
    max-width: 80%;
    min-width: 300px;
}

.show-modal-bg {
    animation: show-modal-bg .5s both;
}
@keyframes show-modal-bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.hide-modal-bg {
    animation: hide-modal-bg .5s both .5s;
}
@keyframes hide-modal-bg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.show-modal {
    animation: fade-in-scale .5s both .5s;
    pointer-events: all;
}
.hide-modal {
    animation: fade-out-scale .5s both;
}
.open-image-modal:hover {
    cursor: pointer;
}

@keyframes fade-in-scale {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes fade-out-scale {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(10%);
    }
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100vw;
    padding: 1em;
    gap: .5em;
}
.gallery-grid > * {
    max-width: 10%;
    min-width: 100px;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.contact-form > * {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
}
textarea, input, label, select, option {
    font-family: var(--main-font);
    padding: .5em;
    font-size: 1rem;
}
textarea, input, select, option {
    background-color: white;
    border: 2px solid black;
    border-radius: var(--border-radius);
}
textarea {
    resize: none;
}
.submit-button {
    font-family: var(--main-font);
    padding: .5em;
    background-color: #4b5100;
    border-radius: var(--border-radius);
    color: white;
    font-weight: var(--heading-text);
    border: 2px solid black;
    font-size: 1.5rem;
}
.submit-button:hover {
    background-color: #626901;
    cursor: pointer;
}
#more-detail {
    text-decoration: underline;
    font-size: .8rem;
    display: none;
    text-align: right;
}
#more-detail:hover {
    cursor: pointer;
}
#sliderVal {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    background: var(--header-bg-color);
    outline: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 1em;
    border-radius: 2em;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-image: url("../images/Carters Camera Logo White.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.478);
    position: relative;
}

@media (pointer: coarse) {
    .image-container::before {
        content: "Click image to enlarge";
        position: relative;
        font-family: var(--main-font);
        background-color: var(--header-bg-color);
        color: white;
        font-size: .7rem;
        padding: .5em;
        bottom: 3px;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }
    .image-container > img {
        border-top-left-radius: 0px;
    }
    .image-container::after {
        display: none;
    }
}